# GitHub won't accept files over 100 MB
**/veenkampen_*.csv
**/BRO_DownloadBodemkaart.gpkg
# caches + a nested git repo, no reason to upload
*.sqlite
**/agera5_csv/
pcse_notebooks/
.DS_Store
.vscode/
sinensis/miscanthus_calibration/run_wofost_miscanthus.ipynb
sinensis/miscanthus_calibration/run_wofost_miscanthus.ipynb
marginal_simulations_eu/weather/extract_weather_agera5.ipynb
sinensis/miscanthus_validation/first_trial/run_potential_production.html
sinensis/miscanthus_validation/first_trial/run_water_limited.html
